.container {
    height: 100vh;
    width: 30em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 100;
    overflow: auto;
}

.hide {
    display: none;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
    }
}